#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  place-items: center;
  max-width: 1280px;
  max-height: inherit;
  gap: 1.5rem;
}

.guessWord {
  text-transform: uppercase;
}
